.clockclock24_test_button {
  position: absolute;
  bottom: var(--clock-phone-padding);
  right: var(--clock-phone-padding);
  height: 40px;
  line-height: 40px;
  width: 40px;
  background: #232323;
  border-radius: 50%;
  outline: inherit;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.clockclock24 {
  display: flex;
  padding: var(--clock-padding);
  background-color: var(--clock-backgound-color);
  background-image: radial-gradient(
    ellipse,
    #232323 0%,
    var(--clock-backgound-color) 60%
  );
  box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.15);
}
.clockclock24_number {
  flex: 1;
}

.clockclock24_number_line {
  display: flex;
}
.clockclock24_number_line_clock {
  flex: 1;
  padding: var(--clock-small-padding);
}

@media screen and (max-width: 1100px) {
  html {
    background-color: var(--clock-backgound-color);
  }
  .clockclock24 {
    padding: var(--clock-phone-padding);
  }
}