:root {
  --clock-backgound-color: #000;
}

.clock {
  position: relative;
  border-radius: 50%;
  background-color: var(--clock-backgound-color);
  box-shadow: inset 2px 1px 6px rgba(255, 255, 255, .2);
}
.clock_needle {
  position: absolute;
  transition-name: transform;
}
.clock_needleRotate {
  position: absolute;
}
