:root {
  --clock-backgound-color: #141414;
  --needle_background_color: #c9c9c9;
  --clock-padding: 30px;
  --clock-phone-padding: 10px;
  --clock-small-padding: 3px;
}

html {
  background: linear-gradient(45deg, #a5a5a5, #e8e8e8);
}
.clockclock24 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
