:root {
  --clock-backgound-color: #1d1915;
  --clock-padding: 30px;
  --clock-phone-padding: 10px;
  --clock-small-padding: 3px;
}

html {
  background-color: #fff;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
