:root {
  --clock-backgound-color: #141414;
  --needle_background_color: #C9C9C9;
  --clock-padding: 30px;
  --clock-phone-padding: 10px;
  --clock-small-padding: 3px;
}

html {
  background-color: #fff;
}
.clockclock24 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
